<footer>
      <div class="py-6 bg-brand-dark">
        <div class="container-lg">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 text-start">
              <img src="../assets/images/logo-light.svg" alt="" width="40px" height="40px" />
              <span class="text-brand-light fs-3 ms-4 align-middle">訂閱你我的甜蜜郵件</span>
            </div>
            <div class="col-lg-5">
              <div class="input-group">
                <btn class="btn btn-brand-light rounded-0 py-3 px-4 d-flex align-items-center justify-content-center">
                  <i class="bi bi-envelope-fill text-brand-dark fs-4"></i>
                </btn>
                <input type="text" class="form-control bg-brand-light" aria-label="Amount (to the nearest dollar)" />
                <btn class="btn btn-sub-brand rounded-0 py-3 px-4">
                  <i class="bi bi-arrow-right text-brand-dark fs-3"></i>
                </btn>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="py-6 bg-brand-light">
        <div class="container-lg">
          <div class="row d-flex flex-column justify-content-center align-items-center">
            <div class="container d-flex justify-content-center">
              <div class="col-lg-5 d-flex flex-column align-items-start">
                <img src="../assets/images/logotype-lg-dark.svg" alt="" width="172px" height="26px" />
                <ul class="text-brand-dark fs-1 mt-auto">
                  <li>07-1234-5678</li>
                  <li>sweetaste@email.com</li>
                  <li>800 高雄市新興區幸福路 520 號</li>
                </ul>
              </div>

              <div class="col-lg-5 d-flex justify-content-end">
                <img src="../assets/images/q4-footer.svg" alt="" width="60px" />
              </div>
            </div>
            <div class="container d-flex justify-content-center text-brand-dark my-6">
              <nav class="col-lg-5 d-flex column-gap-2">
                <a href="#" target="_blank">
                  <img src="../assets/images/ic-line@.svg" alt="" height="32px" />
                </a>
                <a href="#" target="_blank">
                  <img src="../assets/images/ic-facebook.svg" alt="" height="32px" />
                </a>
              </nav>
              <p class="col-lg-5 d-flex align-items-center justify-content-end">© 2018 Sweetaste* All Rights Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>